<head>

</head>
{% extends 'users/base.html' %}
{% block content %}
<form method="post" >
  {% csrf_token %}
{% for field in appointment_form.visible_fields %}
    {{ field.name}}: {{ field }}<br/>
{% endfor %}
<br/>
{% if create %}
    <button type="submit" >Create Appointment</button>
    <input type='hidden' name='appointment_id' value={{appointment_id}}>
    {% if error %}
    <a style='color: red;'>{{error}}</a>
    {% endif %}
</form>
{% else %}
    <button type="submit" >Update Appointment</button>
    </form>
    <form action={% url 'delete' appointment_id %}>
        <input type="submit" value="Delete Appointment" />
    </form>
{% endif %}
{% endblock %}
