{% extends 'users/base.html' %}
{% block content %}
{% csrf_token %}
<a href="{% url 'create' %}">Create appointment</a><br/>
<h3>
    <u>Appointments</u>
</h3>
<ul class="list-unstyled">
    {% if appointments %}
        {% for a in appointments %}
            {% if person.is_patient %}
                <li><a href="{% url 'update' a.id %}">{{ a.description }} with {{ a.doctor.name}} on {{ a.date|date:"M d, Y"}} at {{a.time_hour}}:{{a.time_min}}</a></li><br/>
            {% elif person.is_doctor %}
                <li><a href="{% url 'update' a.id %}">{{ a.description }} with {{ a.patient.name}} on {{ a.date|date:"M d, Y"}} at {{a.time_hour}}:{{a.time_min}}</a></li><br/>
            {% elif person.is_nurse %}
                <li><a href="{% url 'update' a.id %}"> {{ a.doctor.name}} meeting with {{ a.patient.name }} for {{ a.description }} on {{ a.date|date:"M d, Y"}} at {{a.time_hour}}:{{a.time_min}}</a></li><br/>
            {% endif %}
    {% endfor %}
    {% else %}
    No Appointments Available
    {% endif %}
</ul>
{% endblock %}
