{% extends 'users/base.html' %}
{% block content %}
{% csrf_token %}
{% if request.user.person.is_doctor %}
    <a class="navbar-brand" href="{% url 'create' patientid= %}">Create Appointment</a><br/>
{% elif pid %}
    <a class="navbar-brand" href="{% url 'create' pid=pid %}">Create Appointment</a><br/>
{% else %}

    <a href="{% url 'create' %}">Create Appointment</a><br/>
{% endif %}
<h3>
    {% if name %}
    <u>Appointments with {{name}}</u>
    {% else %}
    <u>Appointments</u>
    {% endif %}
</h3>
<ul class="list-unstyled">
    {% if appointments %}
        {% for a in appointments %}
            {% if request.user.person.is_patient %}
                <li><a href="{% url 'update' a.id %}">{{ a.description }} with {{ a.doctor.name}} on {{ a.date|date:"M d, Y"}} at {{a.time_hour}}:{{a.time_min}}</a></li><br/>
            {% elif request.user.person.is_doctor %}
                <li><a href="{% url 'update' a.id %}">{{ a.description }} with {{ a.patient.name}} on {{ a.date|date:"M d, Y"}} at {{a.time_hour}}:{{a.time_min}}</a></li><br/>
            {% elif request.user.person.is_nurse %}
                <li><a href="{% url 'update' a.id %}"> {{ a.doctor.name}} meeting with {{ a.patient.name }} for {{ a.description }} on {{ a.date|date:"M d, Y"}} at {{a.time_hour}}:{{a.time_min}}</a></li><br/>
            {% endif %}
    {% endfor %}
    {% else %}
        No Appointments Available
    {% endif %}
</ul>
{% endblock %}
