<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "datepicker/css/bootstrap-datepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    <title>{% block title %}HealthNet{% endblock %}</title>
  </head>
  <body>
    <div class="text-center">
    <div class="navcustom">
    <header>
      <div class="jumbotron centernav">
      {% if user.is_authenticated %}
          <div class="pull-right gotop">
          <a class="navbar-brand" href="{% url 'logout' %}"><h4>Logout</h4></a>
          </div>
      {% endif %}
      <h2>HealthNet</h2>
      <div class="container-fluid text-center">
      <ul class="list-inline">
      {% if user.is_authenticated %}

        {% if request.get_full_path == "/cal/" %}
            <li><a class="navbar-brand" href="{% url 'home' %}"><h4>Home</h4></a></li>
        {% else %}
            {% if user.person.name and not user.person.is_admin %}
                <li><a class="navbar-brand list-inline-item" href="{% url 'calendar' %}"><h4>Calendar</h4></a></li>
            {% endif %}

        {% endif %}

      {% else %}
          <li><a class="navbar-brand" href="{% url 'login' %}"><h4>Login</h4></a></li>
          <li><a class="navbar-brand" href="{% url 'signup' %}"><h4>Signup</h4></a></li>
      {% endif %}

    {% if user.person.is_admin %}
        <li><a class="navbar-brand" href="{% url 'transfer_patients' %}"><h4>Transfer Patients</h4></a></li>
        <li><a class="navbar-brand" href="{% url 'update' %}"><h4>Update Employees</h4></a></li>
        <li><a class="navbar-brand" href="{% url 'create_doctor' %}"><h4>Create Doctor</h4></a></li>
        <li><a class="navbar-brand" href="{% url 'create_nurse' %}"><h4>Create Nurse</h4></a></li>
        <li><a class="navbar-brand" href="{% url 'create_admin' %}"><h4>Create Admin</h4></a></li>
        <li><a class="navbar-brand" href="{% url 'logs' %}"><h4>View Activity Logs</h4></a></li>
        <li><a class="navbar-brand" href="{% url 'stats' %}"><h4>View Hospital Stats</h4></a></li>
    {% endif %}
    {% if user.person.is_doctor or user.person.is_nurse %}
        <li><a class="navbar-brand" href="{% url 'view_patients' %}"><h4>View Patients</h4></a></li>
    {% endif %}
    {% if user.person.is_patient %}
        <li><a class="navbar-brand" href="{% url 'update_patient' %}"><h4>Update Profile</h4></a></li>
    {% endif %}
      </ul>
      </div>
      </div>
    </header>
    </div>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>
  </body>
</html>
