<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "datepicker/css/bootstrap-datepicker.css" %}" rel="stylesheet">
    <title>{% block title %}HealthNet{% endblock %}</title>
  </head>
  <body>
  <div class="container text-center">
    <header>
      <h1>My Site</h1>
      <nav class="navbar">
      <div class="container-fluid">
      <ul class="list-inline">
      {% if user.is_authenticated %}
                <li><a class="navbar-brand list-inline-item" href="{% url 'logout' %}">Logout</a></li>
        {% if request.get_full_path == "/cal/" %}
                <li><a class="navbar-brand" href="{% url 'home' %}">Home</a></li>
        {% else %}
                <li><a class="navbar-brand list-inline-item" href="{% url 'calendar' %}">Calendar</a></li>
        {% endif %}

      {% else %}
              <li><a class="navbar-brand" href="{% url 'login' %}">Login</a></li>
              <li><a class="navbar-brand" href="{% url 'signup' %}">Signup</a></li>
      {% endif %}

    {% if user.person.is_admin %}
        <li><a class="navbar-brand" href="{% url 'transfer_patients' %}">Transfer Patients</a></li>
        <li><a class="navbar-brand" href="{% url 'update' %}">Update Employees</a></li>
        <li><a class="navbar-brand" href="{% url 'create_doctor' %}">Create Doctor</a></li>
        <li><a class="navbar-brand" href="{% url 'create_nurse' %}">Create Nurse</a></li>
        <li><a class="navbar-brand" href="{% url 'create_admin' %}">Create Admin</a></li>
    {% endif %}
    {% if user.person.is_doctor or user.person.is_nurse %}
        <li><a class="navbar-brand" href="{% url 'view_patients' %}">View Patients</a></li>
    {% endif %}
    {% if user.person.is_patient %}
            <li><a class="navbar-brand" href="{% url 'update_patient' %}">Update Profile</a></li>
    {% endif %}
      </ul>
      </div>
      </nav>
    </header>
  </div>
  <div class="text-center">
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>
  </body>
</html>
