{% extends 'users/base.html' %}

{% block content %}
{% csrf_token %}

    {% if patients %}
        <table class="table-bordered table">
                <th class="text-center">Name</th>
    {% for patient in patients %}
        <tr>
            {% if transfer %}
                <td><a href="{% url 'transfer' pk=patient.id %}">{{ patient.name  }}</a></td>
            {% else %}
                <td><a href="{% url 'view_calendar' pk=patient.id %}">{{ patient.name  }}</a></td>
            {%  endif %}

        </tr>
    {%  endfor %}
        </table>
        {%  else %}
        No patients in {{ request.user.person.hospital.name }}
    {%  endif %}

{% endblock %}
