{% extends 'users/base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {% for field in patient_form %}
        <p>
            {{ field.label_tag }}
            {% if field.label == 'Hospital' %}
                {% if request.user.person.hospital.name %}
                    {{ request.user.person.hospital.name }}
                {%  else %}
                    <label for="id_hospital">Apply to:</label>
                    <select name="hospital" id="id_hospital">
                        {% for hospital in hospitals %}
                            <option value={{ hospital.id }}>{{ hospital.name }}</option>
                        {%  endfor %}
                    </select>
                {% endif %}
            {% else %}
                {{ field.as_text }}
            {% endif %}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    {{ nurse_form.as_p }}
    {{ admin_form.as_p }}
    {{ account_form.as_p }}
    {% for field in doctor_form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit">Save changes</button>
</form>
{% endblock %}
