{% extends 'users/base.html' %}
{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in patient_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text | safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}<br>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
