{% extends 'users/base.html' %}

{% block content %}
    {% csrf_token %}
    <table>
      <tr>
        <th>Type</th>
        <th>Name</th>
      </tr>

   {% for nurse in nurses %}
       <tr>
           <td>Nurse</td>
           <td><a href="{% url 'update_nurse' pk=nurse.id %}">{{ nurse.name  }}</a></td>
       </tr>
   {%  endfor %}
   {% for doctor in doctors %}
       <tr>
           <td>Doctor</td>
           <td><a href="{% url 'update_doctor' pk=doctor.id %}">{{ doctor.name  }}</a></td>
       </tr>
   {%  endfor %}
    {% for admin in admins %}
        <tr>
            <td>Admin</td>
            <td><a href="{% url 'update_admin' pk=admin.id %}">{{ admin.name  }}</a></td>
        </tr>
    {%  endfor %}

</table>

{% endblock %}
