{% block content %}

<h2>
    Records
</h2>

<table  class="table table-bordered text-center">
    <th>Start Date</th>
    <th>End Date</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Blood Pressure</th>
    <th>Heart Rate</th>
    <th>Breath Rate</th>
    <th>Reason</th>
    <th>Description</th>
    <th></th>

    {% for r in records %}
    <tr>
        <td>{{r.startDate}}</td>
        <td>{{r.endDate}}</td>
        <td>{{r.height}} Inches</td>
        <td>{{r.weight}}lbs</td>
        <td>{{r.systolic_pressure}}/{{r.diastolic_pressure}}</td>
        <td>{{r.heart_rate}} BPM</td>
        <td>{{r.respirations_minute}} BPM</td>
        <td>{{r.reason}}</td>
        <td>{{r.description}}</td>

    </tr>
    {% endfor %}
</table>

{% endblock %}
