{% extends 'users/base.html' %}

{% block content %}

<h2>
    Prescriptions for {{patient.name}}
</h2>

<table class="table table-bordered text-center">
    <th>Title</th>
    <th>Started on</th>
    <th>Duration</th>
    <th>Instructions</th>
    <th>Edit</th>

    {% for p in prescriptions %}
    <tr>
        <td>{{p.title}}</td>
        <td>{{p.startDate}}</td>
        <td>{{p.duration}}</td>
        <td>{{p.instructions}}</td>
        <td><input type="button" onclick="location.href='{% url 'update_prescription' prescriptionid=p.id %}';" value="edit" /></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
